{% extends "blog/base.html" %} <!-- 상속을 받는 순간 자식은 어떤 블락을 지정해서 컨텐츠를 공급하는 일밖에 못한다 -->

{% block content %}
    
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}

        {% if user.is_authenticated %}

        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
        </a>

        {% endif %}
        
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>

{% endblock %}